.createShopContainer {
  border-radius: 27px;
  width: 335px;
  height: 914px;
  background-color: #fff;
  padding: 40px 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1d1e21;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #6a6a6f;
  margin-top: 12px;
  width: 295px;
}

.form {
  margin-top: 40px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.inputWrapperRadio {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 8px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;
  padding-left: 18px;
}

.labelRadio {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;
}

.input {
  border: 1px solid rgba(29, 30, 33, 0.2);
  border-radius: 60px;
  width: 295px;
  height: 44px;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.6);
  padding: 13px 18px;
}

.input:active,
.input:focus {
  border: 1px solid #59b17a;
}

.inputText {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: black;
  }

.error {
  position: absolute;
  top: 70px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ef2447;
  margin-left: 10px;
}

.errorInput {
  border-color: red;
}

.radioGroup {
  display: flex;
  gap: 8px;
}

.radioWrapper {
  display: flex;
  align-items: center;
}

.radioWrapper input[type="radio"] {
  display: none;
}

.radioWrapper label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.6);
}

.radioWrapper input[type="radio"]:checked + label {
  color: #1d1e21;
}

.radioWrapper svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.button {
  border-radius: 60px;
  padding: 13px 26px;
  width: 155px;
  height: 44px;
  background-color: #59b17a;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #f7f8fa;
  padding: 13px 26px;
  margin-top: 28px;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #3f945f;
}
