.container {
  width: 375px;
  margin: 0 auto;
}

.mainContainer {
  padding: 64px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 335px;
  height: 470px;
  background-image: url(../../assets/images/createShopImage.png);
  background-size: cover;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mainContainer {
    padding: 80px 32px 120px 32px;
  }
  
  .image {
    width: 704px;
    height: 550px;
    background-image: url(../../assets/images/createShopImage-768.png);
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0;
  }

  .mainContainer {
    display: flex;
    flex-direction: row;
    padding: 0 128px 100px 128px;
    gap: 20px;
    background-color: #f7f8fa;
    margin-top: 64px;
  }

  .image {
    width: 456px;
    height: 624px;
    background-image: url(../../assets/images/createShopImage-1440.png);
    background-size: cover;
  }
}
