.header {
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  height: 80px;
  width: 375px;
  background: #f7f8fa;
  padding: 17px 14px 17px 72px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.headerSubTitle {
  display: flex;
  gap: 8px;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logoutBtn {
  display: none;
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    padding: 15px 71px 15px 80px;
    gap: 16px;
  }

  .headerTitleContainer {
    margin-left: 16px;
  }
}

@media (min-width: 1440px) {
  .header {
    width: 1440px;
    padding: 15px 40px 15px 20px;
    gap: 60px;
  }

  .headerTitleContainer {
    margin-left: 0;
  }

  .logoutBtn {
    display: block;
  }
}
