.sharedLayoutContainer {
  display: block;
  margin: 0 auto;
  width: 375px;
  position: relative;
  background-color: #f7f8fa;
}

.header {
  grid-area: header;
  margin: 0 auto;
}

.mainContent {
  grid-area: main;
}

.footer {
  grid-area: footer;
  
}


@media (min-width: 768px) {
  .sharedLayoutContainer {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .sharedLayoutContainer {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    width: 1440px;
  }

  .header {
    margin: 0;
  }
}
