.logout {
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 13px 10px;
  width: 107px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  background-color: #59b17a;
  transition: background-color 0.3s ease;
}

.logout:hover,
.logout:active,
.logout:focus {
  background-color: #3f945f;
}

@media (min-width: 768px) {
  .logout {
    width: 44px;
    height: 44px;
  }

  .logout svg {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1440px) {
  .logout {
    margin-left: 979px;
  }
}
