.logout {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #59b17a;
  box-shadow: 0 -1px 7px 0 rgba(71, 71, 71, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.logout:hover,
.logout:active,
.logout:focus {
  background-color: #3f945f;
}

@media (min-width: 768px) {
  .logout {
    width: 44px;
    height: 44px;
  }

  .logout svg {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1440px) {
  .logout {
    margin-left: 979px;
  }
}
